<div>
    <h2>Board</h2>
    <div>
        <a href="/board/new">글 쓰기</a>
    </div>
    <table id="index">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <% post.forEach(elem => { %>
                <tr>
                    <td><%= elem.id%></td>
                    <td><a href="/board/<%= elem.id%>"><%= elem.title%></a></td>
                    <% if (elem.writer_id) { %>
                        <td><%= elem.writer_id%></td>
                    <% } else { %>
                        <td>ㅇㅇ</td>
                    <% } %>
                    <td><%= elem.created_at%></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <div class="page">
        <nav>
            <%
                const offset = 2; 
                const previousBtnEnabled = currentPage>1; 
                const nextBtnEnabled = currentPage<maxPage; 
            %>
            <ul>
                <li>
                    <a href="/board?page=<%= currentPage-1 %>&limit=<%= limit %>">&laquo;</a>
                </li>
                <% for(let i=1; i<=maxPage; i++) { %>
                    <% if (i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)) { %>
                        <li><a href="/board?page=<%= i %>&limit=<%= limit %>"><%= i %></a></li>
                    <% } else if (i==2 || i==maxPage-1) { %>
                        <li><a>...</a></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="/board?page=<%= currentPage+1 %>&limit=<%= limit %>">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>