<div class="article">
    <div class="articleNav">
        <a href="/board<%= getPostQueryString()%>">글 목록</a>
        <a href="/board/new<%= getPostQueryString()%>">글 쓰기</a> 
    </div>
    <div class="main">
        <h2>
            글 상세보기
        </h2>
        <table>
            <tbody>
                <tr>
                    <td>제목</td>
                    <td>
                        <%= result.title %>
                    </td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td>
                        <%= result.writer_id%>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <%= result.content %>
                    </td>
                </tr>
                <% if (result.fileName.length > 0) { %>
                    <tr>
                        <td>파일</td>
                        <td><small>📁 Attachment <%= result.fileName %></small></td>
                    </tr>
                <% } %>
            </tbody>
        </table>        
    </div>
    
    <div class="btnGroup">
        <a href="/board<%= getPostQueryString()%>">Back</a>
        <form action="/board/<%= result.id%>/delete<%= getPostQueryString()%>" method="post">
            <input type="hidden" value="<%= result.id%>" name="id" id="id">
            <button type="submit">remove</button>
        </form>
        <a href="/board/<%= result.id %>/edit<%= getPostQueryString()%>">Edit</a>
    </div>

    <div class="commentContainer">
        <h4>Comments</h4>
        <% if (comments.length) {%>
            <div class="comments">
                <% comments.forEach((comment) => {%>
                    <% if (comment.isDeleted) { %>
                        <div>(Deleted comment)</div>
                    <% } else { %>
                    <div>작성자 : <%= comment.userID %>
                    </div>
                    <div>댓글내용 : <%= comment.text %>
                    </div>
                    <div>(created_at : <%= comment.created_at %>)</div>
                    <div>
                        <form action="/comment/<%= comment.id%>?postId=<%= result.id%><%= getPostQueryString(true)%>" method="post">
                            <input type="text" name="text">
                            <button type="submit">edit</button>
                        </form>
                        <form action="/comment/<%= comment.id%>/delete?postId=<%= result.id%><%= getPostQueryString(true)%>" method="post">
                            <button type="submit">delete</button>
                        </form>
                    </div>
                    <% } %>
                    <hr>
                <% }) %>
            </div> 
        <% } %>
        <form action="/comment?postId=<%= result.id%>?postId=<%= result.id%><%= getPostQueryString(true)%>" method="post">
            <input type="text" name="comment">
            <button type="submit">댓글 추가</button>
        </form>
    </div>
</div>
