<div class="article">
    <div class="articleNav">
        <a href="/board<%= getPostQueryString()%>">글 목록</a>
        <a href="/board/new<%= getPostQueryString()%>">글 쓰기</a> 
    </div>
    <div class="main">
        <h2>
            글 상세보기
        </h2>
        <table>
            <tbody>
                <tr>
                    <td>제목</td>
                    <td>
                        <%= result.title %>
                    </td>
                </tr>
                <tr>
                    <td>작성자</td>
                    <td>
                        <%= result.writer_id%>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <%= result.content %>
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>
    <div class="btnGroup">
        <a href="/board<%= getPostQueryString()%>">Back</a>
        <form action="/board/<%= result.id%>/delete<%= getPostQueryString()%>" method="post">
            <input type="hidden" value="<%= result.id%>" name="id" id="id">
            <button type="submit">remove</button>
        </form>
        <a href="/board/<%= result.id %>/edit<%= getPostQueryString()%>">Edit</a>
    </div>
</div>
